---
import ButtonPlaySong from "@components/ButtonPlaySong";
---

<footer class="[grid-area:player] flex justify-between items-center h-16">
  <section>card</section>
  <section>
    <ButtonPlaySong />
  </section>
  <section>ffg</section>
</footer>
