---
import Layout from "@layouts/Layout.astro";
import CardLinkPlaylist from "@components/CardLinkPlaylist.astro";

import { playlists } from "@lib/data";
---

<Layout title="Welcome to Astro.">
  <h1 class="text-white text-4xl">Buenas noches</h1>

  <section class="pt-8 flex flex-wrap gap-2">
    {playlists.map((item) => <CardLinkPlaylist {...item} />)}
  </section>
</Layout>
