---
import HomeIcon from '@icons/Home.astro';
import SideMenuItem from './SideMenuItem.astro';
import SearchIcon from '@icons/Search.astro';
import LibraryIcon from '@icons/Library.astro';

import { playlists } from '@lib/data';
import SideMenuCard from './SideMenuCard.astro';
---

<nav class="flex flex-col flex-1 gap-2">
  <section class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
         Inicio
      </SideMenuItem>

      <SideMenuItem href="/">
        <SearchIcon />
         Buscar
      </SideMenuItem>
    </ul>
  </section>

  <section class="flex-1 bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
         Tu Biblioteca
      </SideMenuItem>

      {playlists.map((item) => <SideMenuCard playlist={item} />)}
    </ul>
  </section>
</nav>
