---
const { id, title, cover, artists } = Astro.props;
---

<a href={`/playlist/${id}`} class="flex gap-4">
  <picture class="aspect-square w-1/6 rounded-lg overflow-hidden">
    <img class="object-cover" src={cover} alt={title} />
  </picture>

  <div>
    <h3 class="text-white">{title}</h3>
    <small class="text-xs">{artists.join(", ")}</small>
  </div>
</a>
