---
import Aside from "src/pages/Aside.astro";
import Footer from "src/pages/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="grid bg-zinc-950 text-white/70 h-screen p-2 gap-2">
    <Aside />

    <section
      class="[grid-area:main] bg-zinc-900 pt-10 px-2 rounded-lg relative"
    >
      <slot />
    </section>

    <Footer />
  </body>
</html>

<style is:global>
  body {
    grid-template-areas:
      "aside main"
      "player player";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
  }
</style>
